@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fort";
  src: url("./utils/fonts/FortTRIAL-Medium-BF66172f46e465a.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Fort";
  src: url("./utils/fonts/FortTRIAL-Bold-BF66172f4716649.otf")
    format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Fort";
  src: url("./utils/fonts/FortTRIAL-Light-BF66172f46ee09f.otf")
    format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Fort";
  src: url("./utils/fonts/FortTRIAL-Extralight-BF66172f470dfc2.otf")
    format("opentype");
  font-weight: 200;
}

/* background: linear-gradient(to right, #DB0032 0%, #FA6602 100%); */

/* background: linear-gradient(to right, #060B33 69%, #383F71 100%); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fort", sans-serif;
}

.bold-text {
  font-family: "Fort", sans-serif;
  font-weight: bold; /* Regular */
}

.bold-text1 {
  font-family: "Fort", sans-serif;
  font-weight: 300; /* Regular */
}
.courses {
  margin-top: -50px !important;
  z-index: 10;
}

.card {
  position: relative;
  width: 130px;
  height: 239px;
  margin: 30px;
  background: linear-gradient(to right, #db0032 0%, #fa6602 100%);
  border-radius: 20px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 64.96px;
  border-top-right-radius: 64.96px;
  border-bottom-right-radius: 0px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 480px) {
  
  .card {
    margin: 0;
  }
}

@media (max-width: 639px) {
  .btn-hero-slider{
    text-align: center !important;
  }
  .card {
    margin: 30;
  }
  .services-top-margin {
    margin-top: 0 !important;
  }
  .get-in-touch-margin {
    margin-top: 0 !important;
  }
  .case-study {
    margin-top: 0 !important;
  }
  .about-class {
    margin-top: 0 !important;
}
}

@media (min-width: 640px) and (max-width: 767px) {
  .btn-hero-slider{
    text-align: center !important;
  }
  .service-margin {
    margin-top: 250px;
    margin-bottom: 150px;
  }
  .get-in-touch-margin {
    margin-top: 0 !important;
  }
  .case-study {
    margin-top: 0 !important;
  }
  .services-top-margin {
    margin-top: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .btn-hero-slider{
    text-align: center !important;
  }
  .card {
    margin: 0;
  }
  .about-class {
    margin-top: 0 !important;
  }
  .service-margin {
    margin-top: 250px;
    margin-bottom: 150px;
  }
  .get-in-touch-margin {
    margin-top: 0 !important;
  }
  .case-study {
    margin-top: 0 !important;
  }
  .services-top-margin {
    margin-top: 0 !important;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .card {
    margin: 0;
  }
  .card-services {
    height: 225px !important;
    width: 225px !important;
  }
  .banner {
    margin: 0 !important;
  }
  .case-study {
    margin-top: 0 !important;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {

 
}
@media (min-width: 1536) {
  .card {
    margin: 0;
  }
  
}


