.banner {
  background: linear-gradient(to right, #060b33 69%, #383f71 100%);
}
.banner-footer {
  background: linear-gradient(to right, #060b33 0%, #383f71 100%);
}
.bg-cover {
  background-size: cover;
  background-position: center;
}
button {
  cursor: pointer;
}
.bg-layer {
  background-color: #060b33bd;
}
.bg-gradient-2 {
  background: linear-gradient(to left, #db0032 0%, #fa6602 100%);
}
.case1 {
  background-image: url("../assets/Case1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.case2 {
  background-image: url("../assets/case2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.case3 {
  background-image: url("../assets/case3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.case4 {
  background-image: url("../assets/case4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.border-btn {
  border: 2px solid #ffffff;
}
.border-btn2 {
  border: 2px solid #000000;
}
.btn-hero-slider {
  text-align: right;
}
